language: node_js
node_js:
- '8'
dist: trusty
sudo: false
cache:
  directories:
  - node_modules
addons:
  chrome: stable
install:
- npm install
script:
- npm run test
- npm run build
deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: dvsq6YidpYsOrE4xWn9oucpRw6sQapUTLm/VZR2k6cwhOH+BUPNzGN1zCUeCaSQu5IGY2Kv6PIq6kuvnf/OhsOk+MrMdCsXCsN4txn09BiBFP3bQbuRCn2Aqr3AA4x4KJIwUzR7HVgab1xXhYROSbWAQam+1ki8BMznIQiY5BocX5j2/7SJK8kQjY1R7VV0a3duohejWkBtGoeIlnQGvcnxyHrHLoqRGS62HtSnzcF0k8epVAqHOWgh8MHEXfM1NWaT/eKNFiCcigvosTOhBUuqn5RfeH3KjxE6vD5oq+jYGfgOQigArSh7Nm4XfXPk+h56wpMyJa9uq+P1ni4nU40+TeZPZeC7BvLq2B/5qb4Hlt+Z8qyHFtOtw6Cf5Tkc/M4jdJvc6ZcRqjhb06duJ9sNmUeFHL2gH0SrmEKQvCnxmlb814DBjQN6f10Qu1/TgUrcBGkXfiOisfAKYhqX8O5IiJL9IXBONVU/a+7GSiUY+pfZblsEJXbDpMeXJDCZKc0CnZ3ObfkVZdqiQ1a8GdkRXDQrI1pclcnSCjU1LL9YUKZpZlsM71hPczwJTyhCqq6R0ntApzEaOdO9R9ApRtwUHZn4Z7Xpboy8HTRKAGpii/lsBcgqnSptbPVkNPxeeNpYqJFWxKDdkaMp70FoFpESOeQLciMO5y1lVFgfzOdY=
  message: "Travis deployment"
  on:
    all_branches: true
