
.gameGrid {
    display: grid;
    height: 100%;
    width: 100%;

    &.columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.columns-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.rows-2 {
        grid-template-rows: repeat(2, 1fr);
    }
    &.rows-4 {
        grid-template-rows: repeat(4, 1fr);
    }
    &.rows-6 {
        grid-template-rows: repeat(6, 1fr);
    }
}
  