@import '../../../style/color.scss';

.gridSlot {
    border: dotted 1px $color-black;
    z-index: 1;
    &.hovering {
        background-color: rgba($color-warning-white, 0.5);
        cursor: pointer;
    }
}
