@import '../../../style/color.scss';

.gameCard{
    position: absolute;
    background-size: cover;
    background-position: center;
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    padding: 5px;
    margin: 5px;
    border: solid 1px $color-black;
    z-index: 2;
    resize: both;
    overflow: auto;
    pointer-events: none;
    .cardName {
        line-height: 25px;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
    .cardContent {
        height: calc(100% - 32px);
        background-color: $color-white;
        border: solid 1px $color-black;
    }
}
