
$color-white: white;
$color-black: black;

$color-light: lightgrey;
$color-dark: darkgrey;

$color-success-white: rgb(209, 237, 158);
$color-success-light: rgb(162, 197, 99);
$color-success: rgb(121, 158, 53);
$color-success-dark: rgb(83, 118, 20);
$color-success-black: rgb(51, 79, 0);

$color-info-white: rgb(106, 149, 157);
$color-info-light: rgb(67, 121, 131);
$color-info: rgb(37, 94, 105);
$color-info-dark: rgb(15, 69, 79);
$color-info-black: rgb(1, 44, 52);

$color-danger-white: rgb(255, 170, 170);
$color-danger-light: rgb(212, 106, 106);
$color-danger: rgb(170, 57, 57);
$color-danger-dark: rgb(128, 21, 21);
$color-danger-black: rgb(85, 0, 0);

$color-warning-white: rgb(255, 210, 170);
$color-warning-light: rgb(212, 156, 106);
$color-warning: rgb(170, 110, 57);
$color-warning-dark: rgb(128, 71, 21);
$color-warning-black: rgb(85, 40, 0);
