
$spacing-none: 0;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-xl: 15px;
$spacing-lg: 20px;
$spacing-xl: 25px;

// Margin
.m-none {
    margin: $spacing-none;
}
.m-t-none {
    margin-top: $spacing-none;
}
.m-b-none {
    margin-bottom: $spacing-none;
}
.m-l-none {
    margin-left: $spacing-none;
}
.m-r-none {
    margin-right: $spacing-none;
}

.m-xs {
    margin: $spacing-xs;
}
.m-t-xs {
    margin-top: $spacing-xs;
}
.m-b-xs {
    margin-bottom: $spacing-xs;
}
.m-l-xs {
    margin-left: $spacing-xs;
}
.m-r-xs {
    margin-right: $spacing-xs;
}

.m-sm {
    margin: $spacing-sm;
}
.m-t-sm {
    margin-top: $spacing-sm;
}
.m-b-sm {
    margin-bottom: $spacing-sm;
}
.m-l-sm {
    margin-left: $spacing-sm;
}
.m-r-sm {
    margin-right: $spacing-sm;
}

.m-xl {
    margin: $spacing-xl;
}
.m-t-xl {
    margin-top: $spacing-xl;
}
.m-b-xl {
    margin-bottom: $spacing-xl;
}
.m-l-xl {
    margin-left: $spacing-xl;
}
.m-r-xl {
    margin-right: $spacing-xl;
}

.m-lg {
    margin: $spacing-lg;
}
.m-t-lg {
    margin-top: $spacing-lg;
}
.m-b-lg {
    margin-bottom: $spacing-lg;
}
.m-l-lg {
    margin-left: $spacing-lg;
}
.m-r-lg {
    margin-right: $spacing-lg;
}

.m-xl {
    margin: $spacing-xl;
}
.m-t-xl {
    margin-top: $spacing-xl;
}
.m-b-xl {
    margin-bottom: $spacing-xl;
}
.m-l-xl {
    margin-left: $spacing-xl;
}
.m-r-xl {
    margin-right: $spacing-xl;
}

// Padding
.p-none {
    padding: $spacing-none;
}
.p-t-none {
    padding-top: $spacing-none;
}
.p-b-none {
    padding-bottom: $spacing-none;
}
.p-l-none {
    padding-left: $spacing-none;
}
.p-r-none {
    padding-right: $spacing-none;
}

.p-xs {
    padding: $spacing-xs;
}
.p-t-xs {
    padding-top: $spacing-xs;
}
.p-b-xs {
    padding-bottom: $spacing-xs;
}
.p-l-xs {
    padding-left: $spacing-xs;
}
.p-r-xs {
    padding-right: $spacing-xs;
}

.p-sm {
    padding: $spacing-sm;
}
.p-t-sm {
    padding-top: $spacing-sm;
}
.p-b-sm {
    padding-bottom: $spacing-sm;
}
.p-l-sm {
    padding-left: $spacing-sm;
}
.p-r-sm {
    padding-right: $spacing-sm;
}

.p-xl {
    padding: $spacing-xl;
}
.p-t-xl {
    padding-top: $spacing-xl;
}
.p-b-xl {
    padding-bottom: $spacing-xl;
}
.p-l-xl {
    padding-left: $spacing-xl;
}
.p-r-xl {
    padding-right: $spacing-xl;
}

.p-lg {
    padding: $spacing-lg;
}
.p-t-lg {
    padding-top: $spacing-lg;
}
.p-b-lg {
    padding-bottom: $spacing-lg;
}
.p-l-lg {
    padding-left: $spacing-lg;
}
.p-r-lg {
    padding-right: $spacing-lg;
}

.p-xl {
    padding: $spacing-xl;
}
.p-t-xl {
    padding-top: $spacing-xl;
}
.p-b-xl {
    padding-bottom: $spacing-xl;
}
.p-l-xl {
    padding-left: $spacing-xl;
}
.p-r-xl {
    padding-right: $spacing-xl;
}
