
$spacing-none: 0;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 25px;

// <m|p>-<t|b|l|r|v|h>-<none|xs|sm|md|lg|xl>
// margin | padding
// top | bottom | left | right | vertical | horizontal
// none | xs | sm |md | lg | xl

// Margins

// Margin none
.m-none {
    margin: $spacing-none;
}
.m-t-none {
    margin-top: $spacing-none;
}
.m-b-none {
    margin-bottom: $spacing-none;
}
.m-l-none {
    margin-left: $spacing-none;
}
.m-r-none {
    margin-right: $spacing-none;
}
.m-v-none {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
}
.m-h-none {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
}

// Margin xs
.m-xs {
    margin: $spacing-xs;
}
.m-t-xs {
    margin-top: $spacing-xs;
}
.m-b-xs {
    margin-bottom: $spacing-xs;
}
.m-l-xs {
    margin-left: $spacing-xs;
}
.m-r-xs {
    margin-right: $spacing-xs;
}
.m-v-xs {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
}
.m-h-xs {
    margin-left: $spacing-xs;
    margin-right: $spacing-xs;
}

// Margin sm
.m-sm {
    margin: $spacing-sm;
}
.m-t-sm {
    margin-top: $spacing-sm;
}
.m-b-sm {
    margin-bottom: $spacing-sm;
}
.m-l-sm {
    margin-left: $spacing-sm;
}
.m-r-sm {
    margin-right: $spacing-sm;
}
.m-v-sm {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
}
.m-h-sm {
    margin-left: $spacing-sm;
    margin-right: $spacing-sm;
}

// Margin md
.m-md {
    margin: $spacing-md;
}
.m-t-md {
    margin-top: $spacing-md;
}
.m-b-md {
    margin-bottom: $spacing-md;
}
.m-l-md {
    margin-left: $spacing-md;
}
.m-r-md {
    margin-right: $spacing-md;
}
.m-v-md {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
}
.m-h-md {
    margin-left: $spacing-md;
    margin-right: $spacing-md;
}

// Margin lg
.m-lg {
    margin: $spacing-lg;
}
.m-t-lg {
    margin-top: $spacing-lg;
}
.m-b-lg {
    margin-bottom: $spacing-lg;
}
.m-l-lg {
    margin-left: $spacing-lg;
}
.m-r-lg {
    margin-right: $spacing-lg;
}
.m-v-lg {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
}
.m-h-lg {
    margin-left: $spacing-lg;
    margin-right: $spacing-lg;
}

// Margin xl
.m-xl {
    margin: $spacing-xl;
}
.m-t-xl {
    margin-top: $spacing-xl;
}
.m-b-xl {
    margin-bottom: $spacing-xl;
}
.m-l-xl {
    margin-left: $spacing-xl;
}
.m-r-xl {
    margin-right: $spacing-xl;
}
.m-v-xl {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
}
.m-h-xl {
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
}

// Paddings

// Padding none
.p-none {
    padding: $spacing-none;
}
.p-t-none {
    padding-top: $spacing-none;
}
.p-b-none {
    padding-bottom: $spacing-none;
}
.p-l-none {
    padding-left: $spacing-none;
}
.p-r-none {
    padding-right: $spacing-none;
}
.p-v-none {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
}
.p-h-none {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
}

// Padding xs
.p-xs {
    padding: $spacing-xs;
}
.p-t-xs {
    padding-top: $spacing-xs;
}
.p-b-xs {
    padding-bottom: $spacing-xs;
}
.p-l-xs {
    padding-left: $spacing-xs;
}
.p-r-xs {
    padding-right: $spacing-xs;
}
.p-v-xs {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
}
.p-h-xs {
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
}

// Padding sm
.p-sm {
    padding: $spacing-sm;
}
.p-t-sm {
    padding-top: $spacing-sm;
}
.p-b-sm {
    padding-bottom: $spacing-sm;
}
.p-l-sm {
    padding-left: $spacing-sm;
}
.p-r-sm {
    padding-right: $spacing-sm;
}
.p-v-sm {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
}
.p-h-sm {
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
}

// Padding md
.p-md {
    padding: $spacing-md;
}
.p-t-md {
    padding-top: $spacing-md;
}
.p-b-md {
    padding-bottom: $spacing-md;
}
.p-l-md {
    padding-left: $spacing-md;
}
.p-r-md {
    padding-right: $spacing-md;
}
.p-v-md {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
}
.p-h-md {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
}

// Padding lg
.p-lg {
    padding: $spacing-lg;
}
.p-t-lg {
    padding-top: $spacing-lg;
}
.p-b-lg {
    padding-bottom: $spacing-lg;
}
.p-l-lg {
    padding-left: $spacing-lg;
}
.p-r-lg {
    padding-right: $spacing-lg;
}
.p-v-lg {
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
}
.p-h-lg {
    padding-left: $spacing-lg;
    padding-right: $spacing-lg;
}

// Padding xl
.p-xl {
    padding: $spacing-xl;
}
.p-t-xl {
    padding-top: $spacing-xl;
}
.p-b-xl {
    padding-bottom: $spacing-xl;
}
.p-l-xl {
    padding-left: $spacing-xl;
}
.p-r-xl {
    padding-right: $spacing-xl;
}
.p-v-xl {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
}
.p-h-xl {
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
}
