$cardSize : 200px;

.Lobbies {
    height: 100%;
    width: 100%;
    .LobbyCard {
      width : $cardSize;
      cursor: pointer;
      border: solid ;
      border-radius: 3px;
      display: inline-block;
      height: $cardSize 200px;
      width: $cardSize 200px;
      margin-left: 20px;
      margin-bottom: 20px;
      background-color: red;
        img {
          object-fit: cover;
          height: $cardSize;
          width: $cardSize;
        }
    }

    .FilterBar{
      border: solid;
      border-radius: 3px;
      margin-bottom: 20px;
    }
}
