@import '../../style/color.scss';

.Lobbies {
  height: 100%;
  width: 100%;
  .FilterBar{
    display: flex;
    width: calc(100% - 26px);
    max-width: calc(800px - 6px);
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    border: solid 3px $color-black;
    border-radius: 3px;
  }
  .lobbyCardBlock {
    width: calc(100% - 10px);
    max-width: calc(1200px);
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s ease;
  }
}
