@import '../../style/color.scss';

$card-size : 200px;

.LobbyCard {
    width : $card-size;
    cursor: pointer;
    border: solid ;
    border-radius: 3px;
    display: inline-block;
    height: $card-size 200px;
    width: $card-size 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: $color-light;
    img {
        object-fit: cover;
        height: $card-size;
        width: $card-size;
    }
    &.grid {

    }
    &.list {

    }
}
