@import './button.scss';

.buttonGroup {
    display: inline-block;
    .button {
        display: inline-block;
        @extend %button-default;
        @extend %button-md;
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    &.success .button {
        @extend %button-success;
    }
    &.info .button {
        @extend %button-info;
    }
    &.danger .button {
        @extend %button-danger;
    }
    &.warning .button {
        @extend %button-warning;
    }
    &.sm .button {
        @extend %button-sm;
    }
    &.lg .button {
        @extend %button-lg;
    }
}